@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Modak&family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* #generico{
    width: 500px;
    height: 500px;
    background-color: greenyellow;
    color: orange;
} */
body{
    background-color: #313030;
}
header{
    display: grid;
    grid-template-columns: 2.5fr  5fr 2.5fr;
    height: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.678);
    background-color: rgba(0, 0, 0, 0.151);
}
#div1{
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 10px 0 10px;
}
#divBotao{
    display: flex;
    
}
#divImg{
    display: flex;
    align-items: center;
}
#menu{
    border: none;
    padding: none;
    background: 0;
    color: rgba(255, 255, 255, 0.678);
    font-size: 26px;
    cursor: pointer;
}
#divImg > img{
    width: 32px;
    height: 32px;
}
#div2{
    width: 50vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-family: 'Audiowide';
    color: rgba(255, 255, 255, 0.678);
    font-size: 50px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.678);
}
#div3{
    display: flex;
    justify-content: end;
    justify-items: center;
    align-items: center;
}
#login{
    font-size: 18px;
    background-color: #351970;
    color: rgba(255, 255, 255, 0.678);
    padding: 5px 15px;
    border-radius: 30px;
    cursor: pointer;
}
main{
    background-color: rgba(0, 0, 0, 0.466);
    display: grid;
    grid-template-areas: 
    'aside nav'
    'aside principal';
    grid-template-columns: auto auto;
}
aside{
    transition: 0.4s;
    grid-area: aside;
    background-color: rgb(19, 18, 18);
    width: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.678);
    margin: 0px;
}
aside:hover{
    width: 200px;
    transition: 0.2s;
}
nav{
    grid-area: nav;
}
form{
    display: flex;
    margin: 20px 30px;
}
#pesquisa{
    display: flex;
    justify-content: space-between;
    background-color: #3a3b36;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin:auto;
    padding: 0px 10px;
    line-height: 31px;
    border-radius: 20px;
    border: 1 1 solid black;
}
#divPrincipal{
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10vh auto;
    gap: 25px 30px;
    justify-items: center;
    align-items: center;
}
#divPrincipal > img{
    cursor:pointer;
}