@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Modak&family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #313030;
}
header{
    display: grid;
    grid-template-columns: 12.5fr 12.5fr 50fr ;
    height: 10vh;
    background-color: #3a3b36;
}
#div1{
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}
#menu{
    margin: calc(5vh - 35px) 2vh 0 2vh;
    border: none;
    padding: none;
    background-color: #3a3b36;
    color: white;
    font-size: 26px;
    cursor: pointer;
}
header > div > img{
    height: 80%;
    margin: 1vh 175px 0px 0px;
    
}
#div2{
    width: 50vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-family: 'Audiowide';
    color: #004aad;
    font-size: 50px;
    text-shadow: 0 0 10x #004badc5;
}
#div3{
    margin: 0 0 0 auto;
}
#login{
    margin: calc(5vh - 8.5px) 1vw 0 0;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 3px 15px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: -1 -1 1 black;
}
aside{
    grid-area: aside;

}
nav{
    grid-area: nav;
}
form{
    display: flex;
    margin: 20px 30px;
}
#pesquisa{
    display: flex;
    justify-content: space-between;
    background-color: #3a3b36;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin:auto;
    padding: 0px 10px;
    line-height: 31px;
    border-radius: 20px;
    border: 1 1 solid black;
}
main{
    display: grid;
    grid-template-areas: 
    'aside nav'
    'aside principal';
    grid-template-columns: 135px 9fr;
}
#divPrincipal{
    grid-area: principal;
    background-color: #313030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10vh auto;
    gap: 25px 30px;
    justify-items: center;
    align-items: center;
}
#divPrincipal > img{
    cursor: pointer;
}