@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Modak&family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A1A1A;
}
header{
    display: grid;
    grid-template-columns: 2.5fr  5fr 2.5fr;
    height: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.678);
    background-color: #2A2929;
}
#div1{
    display: flex;
    align-items: center;
    height: 10vh;
    margin: 0 10px 0 10px;
}
#div1 > img{
    width: 120px;
    height: 120px;
}
#divImg > img{
    width: 32px;
    height: 32px;
}
#div2{
    width: 50vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-family: 'Audiowide';
    color: rgba(255, 255, 255, 0.678);
    font-size: 50px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.678);
}
#div3{
    display: flex;
    justify-content: end;
    justify-items: center;
    align-items: center;
}
#login{
    font-size: 18px;
    background: linear-gradient( rgb(12, 12, 12), rgba(43, 40, 40, 0.336), rgb(12, 12, 12));
    color: rgba(255, 255, 255, 0.678);
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #1A1A1A;
}
main{
    display: grid;
    grid-template-areas: 
    'aside nav'
    'aside principal';
    grid-template-columns: auto auto;
}
aside{
    transition: 0.4s;
    grid-area: aside;
    background-color: rgb(19, 18, 18);
    width: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.678);
    margin: 0px;
}
aside:hover{
    width: 200px;
    transition: 0.3s;
}
nav{
    grid-area: nav;
}
form{
    display: flex;
    margin: 30px 30px;
}
#pesquisa{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.151);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin:auto;
    padding: 0px 10px;
    line-height: 31px;
    border-radius: 20px;
}
.flex-items{
    flex: 0 1 350px;
}
#divPrincipal{
    grid-area: principal;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh auto;
    gap: 50px 30px;
    justify-items: center;
    align-items: center;
}
#divPrincipal > img{
    transition: 0.7s;
    width: 350px;
    cursor:pointer;
    border-radius: 50px;
}
#divPrincipal > img:hover{
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.678);
    filter: brightness(60%);
    transition: 0.7s;
    border-radius: 25px;
    width: 370px;
}
footer{
    background-color: #2A2929;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    color: rgba(255, 255, 255, 0.678);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.678);
    border-top: 1px solid rgba(255, 255, 255, 0.678);
}